{% extends "main/base.html" %}

{% block title %}Account Requests{% endblock title %}

{% block content %}
<div class="container d-flex flex-row h-100">
	<div class="row">
		<div class="col">
			<h1>Account Requests</h1>
			<table>
				<tr>
					<th>Full Name</th>
					<th>Email Address</th>
					<th>Role</th>
				</tr>
				{% for x in list %}
					<tr>
						<td>{{x}}</td>
						<td>{{x.email}}</td>
						<td>{{x.role}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock content %}
