{% extends "main/base.html" %}

{% block title %}Physician's Landing{% endblock title %}

{% block content %}

<p>this is the physician's landing page
    physician's features:
    1.	View information about the application, doctors (name, specialization, hospital affiliations) 
    2.	Register as physician
    3.	Login to system
    4.	Consult with patient via video chat
    5.	View previous consultations of patients under his care
    6.	Add new patient consultation record
    7.	View or download uploaded documents (ex. patient lab results) 
    8.	Upload prescription
</p>

{% endblock content %}