{% extends "main/base.html" %}

{% block title %}Patient's Landing{% endblock title %}

{% block content %}

<p>this is the patient's landing page.
    patient's features:
    1.	View information about the application, doctors (name, specialization, hospital affiliations, cellphone) 
    2.	Register as patient
    3.	Login to system
    4.	Consult with doctor via video chat
    5.	Upload documents (ex. patient lab results)
    6.	Download documents (ex. prescriptions, lab requests)
</p>

{% endblock content %}